@page "/EditNK/{Ma_NK}"
@inject NavigationManager NavigationManager
<h3>Chỉnh sửa Phiếu Nhập</h3>
<br />
<EditForm Model="v_objNK" OnValidSubmit="UpdateNK">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-control mb-2">
        <label for="id">Số Phiếu Nhập Kho</label>
        <InputText id="id" @bind-Value="v_objNK.So_Phieu_Nhap_Kho" class="form-control" readonly></InputText>
    </div>
    <div class="form-control mb-2">
        <label for="Kho">Kho</label>
        <select id="Kho" @bind="v_objNK.Kho_ID" class="form-control">
            <option value="" disabled>Hãy chọn Kho</option>
            @foreach (var item in v_arrKho)
            {
                <option value="@item.Ma_Kho">@item.Ten_Kho</option>
            }
        </select>
    </div>
    <div class="form-control mb-2">
        <label for="NCC">Nhà cung cấp</label>
        <select id="NCC" @bind="v_objNK.NCC_ID" class="form-control">
            <option value="" disabled>Hãy chọn Nhà cung cấp</option>
            @foreach (var item in v_arrNCC)
            {
                <option value="@item.Ma_NCC">@item.Ten_NCC</option>
            }
        </select>

    </div>
    <div class="form-control">
        <label>Ngày nhập kho: </label>
        <TelerikDatePicker @bind-Value="v_objNK.Ngay_Nhap_Kho"
                           Format="dd/MM/yyyy"
                           Width="300px"
                           Size="lg"
                           Min="@Min" Max="@Max">
        </TelerikDatePicker>
    </div>
    <div class="form-control mb-2">
        <label for="note">Ghi Chú</label>
        <InputText id="note" @bind-Value="v_objNK.Ghi_Chu" class="form-control"></InputText>
    </div>
    <div class="form-control">
        <label for="SP">Sản Phẩm</label>
        <TelerikMultiSelect @ref="multiSelect" Data=@v_arrSP
                            TextField="Ten_San_Pham" ValueField="Ma_San_Pham"
                            @bind-Value="@v_arrSelectedValues" OnChange="MapToRawData"
                            ClearButton="true" Filterable="true">
        </TelerikMultiSelect>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Lưu</button>
    <button type="button" class="btn btn-primary" @onclick="BackToList">Quay Lại</button>

</EditForm>

@if (IsUpdated)
{
    if (v_ires == 1)
    {
        <p class="alert alert-success">Cập nhập thành công</p>
    }
    else
    {
        <p class="alert alert-danger">Cập nhập thất bại</p>
        if (!string.IsNullOrEmpty(v_strArlertMessage))
        {
            <p class="alert alert-danger">@v_strArlertMessage</p>
        }
    }
}
@if (v_arrSelectedValues.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Mã Sản phẩm</th>
                <th>Tên Sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Trị giá</th>
            </tr>
        </thead>
        @foreach (var item in v_arrNKRD)
        {
            <tr>
                <td>@item.San_Pham_ID</td>
                <td>@v_objSPController.FQ_165_SP_sp_sel_Get_By_ID(item.San_Pham_ID).Ten_San_Pham</td>
                <td><TelerikNumericTextBox Format="0" Min="1" @bind-Value="@item.SL_Nhap"></TelerikNumericTextBox></td>
                <td><TelerikNumericTextBox Format="C" Min="0.01" @bind-Value="@item.Don_Gia_Nhap"></TelerikNumericTextBox></td>
                <td><label>@string.Format("{0:C}", Math.Round((item.Don_Gia_Nhap * item.SL_Nhap), 2))</label></td>
                <button type="button" class="btn btn-danger"
                        @onclick="@(()=>RemoveItemFromSelect(item.San_Pham_ID))">
                    Remove
                </button>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Tổng tiền:</td>
            <td><label>@string.Format("{0:C}", Math.Round((GetTotalSum()), 2))</label></td>
        </tr>
    </table>
}

@code {
    [Parameter]
    public string Ma_NK { get; set; }
    //Depencies
    private CXNK_Nhap_Kho_Controller v_objNKController = new();
    private CXNK_Nhap_Kho_Raw_Data_Controller v_objNKRDController = new();
    private CDM_Kho_Controller v_objKhoController = new();
    private CDM_NCC_Controller v_objNCCController = new();
    private CDM_San_Pham_Controller v_objSPController = new();
    //variables
    private CXNK_Nhap_Kho v_objNK = new();
    private List<CXNK_Nhap_Kho_Raw_Data> v_arrNKRD = new();
    private List<CDM_Kho> v_arrKho = new();
    private List<CDM_NCC> v_arrNCC = new();
    private int v_ires = 0;
    private bool IsUpdated = false;
    private string v_strArlertMessage = string.Empty;
    //variables for multiple select
    private List<CDM_San_Pham> v_arrSP = new();
    private List<string> v_arrSelectedValues = new();
    private List<string> v_arrPreviousSelected = new();
    TelerikMultiSelect<CDM_San_Pham, string> multiSelect = new();
    //For date picker
    public DateTime Min = new DateTime(1990, 1, 1, 8, 15, 0);
    public DateTime Max = new DateTime(2025, 1, 1, 19, 30, 45);
    //functions
    protected override void OnInitialized()
    {
        v_objNK = v_objNKController.FQ_718_NK_sp_sel_Get_By_ID(Ma_NK);
        v_arrNKRD = v_objNKRDController.FQ_719_NKRD_sp_sel_Get_By_ID(Ma_NK);
        foreach (var item in v_arrNKRD)
        {
            v_arrSelectedValues.Add(item.San_Pham_ID);
        }
        v_arrPreviousSelected = v_arrSelectedValues;
        multiSelect.Rebind();

        v_arrKho = v_objKhoController.FQ_114_K_sp_sel_List_For_Cache();
        v_arrNCC = v_objNCCController.FQ_123_N_sp_sel_List_For_Cache();
        v_arrSP = v_objSPController.FQ_165_SP_sp_sel_List_For_Cache();
    }
    private void BackToList()
    {
        NavigationManager.NavigateTo("/NK");
    }
    private void MapToRawData()
    {
        var itemsToInsert = v_arrSelectedValues.Except(v_arrPreviousSelected).ToList();
        var itemsToDelete = v_arrPreviousSelected.Except(v_arrSelectedValues).ToList();
        foreach (var item_id in itemsToInsert)
        {
            v_arrNKRD.Add(new CXNK_Nhap_Kho_Raw_Data
                {
                    San_Pham_ID = item_id,
                    SL_Nhap = 1,
                    Don_Gia_Nhap = 1
                });
        }

        foreach (var item_id in itemsToDelete)
        {
            v_arrNKRD.RemoveAll(item => item.San_Pham_ID == item_id);
        }
        v_arrPreviousSelected = v_arrSelectedValues;
    }
    private void RemoveItemFromSelect(string p_strSP_Id)
    {
        v_arrSelectedValues.Remove(p_strSP_Id);
        v_arrPreviousSelected = v_arrSelectedValues;
        multiSelect.Rebind();
        v_arrNKRD.RemoveAll(item => item.San_Pham_ID == p_strSP_Id);
    }
    private double GetTotalSum()
    {
        double v_dSum = 0;
        foreach (var item in v_arrNKRD)
        {
            v_dSum += item.Don_Gia_Nhap * item.SL_Nhap;
        }
        return v_dSum;
    }
    private void UpdateNK()
    {
        if (this.v_objNK != null)
        {
            //For transaction
            SqlConnection v_conn = null;
            SqlTransaction v_trans = null;
           
            try
            {
                v_conn = CSqlHelper.CreateConnection(CConfig.TKS_Mock_Conn_String);
                v_conn.Open();
                v_trans = v_conn.BeginTransaction();
                IsUpdated = true;
                //Insert header
                v_ires = v_objNKController.FQ_718_NK_sp_upd_Update(v_conn, v_trans, v_objNK);
                //Insert details
                var v_arrNKRD_Old = v_objNKRDController.FQ_719_NKRD_sp_sel_Get_By_ID(Ma_NK);
                
                var itemsToUpdate = v_arrNKRD_Old.Intersect(v_arrNKRD).ToList();
                var itemsToDelete = v_arrNKRD_Old.Except(v_arrNKRD).ToList();
                var itemsToInsert = v_arrNKRD.Except(v_arrNKRD_Old).ToList();
                foreach (var item in itemsToUpdate)
                {
                    v_ires = v_objNKRDController.FQ_719_NKRD_sp_upd_Update(v_conn, v_trans, item);
                }
                foreach (var item in itemsToDelete)
                {
                    v_ires = v_objNKRDController.FQ_719_NKRD_sp_del_Delete_By_ID(v_conn, v_trans, item);
                }
                foreach (var item in itemsToInsert)
                {
                    item.Nhap_Kho_ID = Ma_NK;
                    v_ires = v_objNKRDController.FQ_719_NKRD_sp_ins_Insert(v_conn, v_trans, item);
                }
                v_trans.Commit();
            }
            catch (Exception ex)
            {
                v_ires = 0;
                v_strArlertMessage = ex.Message;
                Console.WriteLine(ex.ToString());
                if (v_trans != null)
                    v_trans.Rollback();
            }
            finally
            {
                if (v_trans != null)
                    v_trans.Dispose();

                if (v_conn != null)
                    v_conn.Close();
            }

        }
    }

}
