@page "/SP"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject SweetAlertService Swal
<h3>Danh sách Sản Phẩm</h3>
<br />
<!--Nút thêm mới-->
<button type="button"
        class="btn btn-primary"
        @onclick="AddSP">
    <span class="oi oi-plus"></span>
    Thêm Sản Phẩm
</button>
<br />
<br />
<!-- Thanh tìm kiếm -->
<div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Điền tên sản phẩm để tìm kiếm"
           @bind-value="v_strSearchTerm" />
    <button type="button"
            class="btn-success input-group-text"
            @onclick="OnSearch">
        <span class="oi oi-magnifying-glass"></span>
        Tìm kiếm
    </button>
</div>
<br />
<!-- Danh sách-->
<table class="table"
    <thead>
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Loại Sản Phẩm</th>
            <th>Đơn Vị Tính</th>
            <th>Ghi Chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in v_arrSP)
        {
            <tr>
                <td>@item.Ma_San_Pham</td>
                <td>@item.Ten_San_Pham</td>
                <td>@v_objLSPController.FQ_122_LSP_sp_sel_Get_By_ID(item.Loai_San_Pham_ID).Ten_LSP</td>
                <td>@v_objDVTController.FQ_110_DVT_sp_sel_Get_By_ID(item.Don_Vi_Tinh_ID).Ten_Don_Vi_Tinh</td>
                <td>@item.Ghi_Chu</td>
                <td>
                    <button type="button"
                            class="btn btn-success" @onclick="@(()=>EditSP(item.Ma_San_Pham))">
                            <span class="oi oi-pencil"></span> Sửa</button>
                    <button type="button"
                            class="btn btn-danger" @onclick="@(()=>ShowConfirmation(item))">
                            <span class="oi oi-trash"></span> Xóa</button>
                </td>

            </tr>
        }
    </tbody>
</table>
<br />

@code {
    //depencies
    CDM_San_Pham_Controller v_objSPController = new();
    CDM_Don_Vi_Tinh_Controller v_objDVTController = new();
    CDM_Loai_San_Pham_Controller v_objLSPController = new();
    //variables
    public List<CDM_San_Pham> v_arrSP = new();
    private string v_strSearchTerm = string.Empty;
    //functions
    private void AddSP()
    {
        NavigationManager.NavigateTo("/AddSP");
    }
    private void OnSearch()
    {
        if (string.IsNullOrEmpty(v_strSearchTerm))
        {
            v_arrSP = v_objSPController.FQ_165_SP_sp_sel_List_For_Cache();
        }
    }
    protected override void OnInitialized()
    {
        v_arrSP = v_objSPController.FQ_165_SP_sp_sel_List_For_Cache();
    }
    private void EditSP(string Ma_SP)
    {
        NavigationManager.NavigateTo($"/EditSP/{Ma_SP}");
    }
    private int DeleteSP(CDM_San_Pham v_objSP)
    {
        int v_iRes = 0;
        try
        {
            v_iRes = v_objSPController.FQ_165_SP_sp_del_Delete_By_ID(v_objSP.Ma_San_Pham);
        }
        catch (Exception)
        {
            return v_iRes;
        }
        return v_iRes;
    }
    private async Task ShowConfirmation(CDM_San_Pham v_objSP)
    {

        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Bạn chắc chứ?",
                Text = "Dữ liệu này sẽ mất sau khi xóa!",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Xóa!",
                ConfirmButtonColor = "red",
                CancelButtonText = "Hủy bỏ"
            });
        if (!string.IsNullOrEmpty(result.Value))
        {
            var v_iRes = DeleteSP(v_objSP);
            //Có ít nhất 1 row bị ảnh hưởng
            if (v_iRes > 0)
            {
                await Swal.FireAsync(
                   "Đã xóa",
                   "Dữ liệu của bạn đã được xóa thành công.",
                   SweetAlertIcon.Success
                   );
                v_arrSP.Remove(v_objSP);
            }
            //Nếu v_iRes trả default hoặc không có row nào bị ảnh hưởng
            if (v_iRes == 0 || v_iRes == -1)
            {
                await Swal.FireAsync(
                 "Hủy bỏ",
                 "Xóa không thành công!",
                 SweetAlertIcon.Error
                 );
            }
        }
    }
}
